@using ProjectManager.Application.DataTransferObjects.ProjectTask;
@model ProjectTaskDto
@{
    ViewBag.Title = "Index";
}
<div class="card mb-3 bg-light bg-opacity-75">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">

            <p class="mb-0">Product details</p>
            <div class="d-flex">
                <div class="col-auto">

                    <a href="@Url.Action("Index", "Project")" class="btn btn-secondary">Projects</a>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_CardInfoPartial", Model.Project)
</div>

<div class="card bg-light bg-opacity-75">
    <div class="card-header">
        <div id="ProjectTaskTable">
            @Html.Partial("_ProjectTaskTable", Model.ProjectTaskList)
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function refreshCard() {
            var selectedProject = $("#SelectedProject").val();
            $.ajax({
                url: '@Url.Action("RefreshDetailCard", "ProjectTask")',
                type: 'GET',
                data: { id: selectedProject },
                success: function (result) {
                    $("#DetailCard").empty();
                    $("#DetailCard").html(result);

                    refreshTable(selectedProject);
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
        }

        function refreshTable(selectedProject) {
            $.ajax({
                url: '@Url.Action("RefreshTable", "ProjectTask")',
                type: 'GET',
                data: { id: selectedProject },
                success: function (result) {
                    $("#ProjectTaskTable").empty();
                    $("#ProjectTaskTable").html(result);
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
        }
    </script>
}