<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/lib/jquery-datatables")
    @Styles.Render("~/Content/jqueryContextMenu")
    @Styles.Render("~/Content/bootstrap-select")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />

    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            position: fixed;
            z-index: 1;
            width: 0;
            top: 0;
            left: 0;
            background-color: #303340;
            overflow: auto;
            transition: 0.3s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 0px 0px 0px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        .sub-menu {
            padding-left: 10px;
        }

            .sub-menu a {
                padding-left: 25px;
            }

        #main {
            transition: margin-left .3s;
            padding: 16px;
        }

        ul {
            list-style-position: inside;
        }

        li {
            margin-left: 0;
            padding-left: 0;
            list-style-type: none;
        }
    </style>

</head>
<body>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" aria-labelledby="staticBackdropLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul>
            @if (!User.Identity.IsAuthenticated)
            {
                <li><a href="#">@Html.ActionLink("Sign In", "Login", "Account", new { area = "" }, new { @class = "nav-link" })</a></li>
            }
            else
            {
                <li>
                    <div style="text-align: center;">
                        <div style="border-radius: 50%; overflow: hidden; margin-top: 5px; width: 50px; height: 50px;">
                            <img class="avatar avatar-lg" src='/Content/Images/Default/default_avatar.jpg' />
                        </div>
                    </div>
                    <a href="#" onclick="toggleSubMenu('account')" style="font-size: inherit">@User.Identity.Name</a>

                    <ul id="accountSubmenu" class="sub-menu" style="display: none;">
                        <li>@Html.ActionLink("My account", "Index", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Settings", "Index", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </li>
            }
        </ul>

        <hr style="width:100%;text-align:left;margin-left:0; color: white;">

        <ul>
            @if (User.IsInRole("admin"))
            {
                <li><a href="#">@Html.ActionLink("Users", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</a></li>
            }
            else if (User.IsInRole("user"))
            {
                <li><a href="#">@Html.ActionLink("Projects", "Index", "Project", new { area = "" }, new { @class = "nav-link" })</a></li>
                <li><a href="#">@Html.ActionLink("Tasks", "Index", "ProjectTask", new { area = "" }, new { @class = "nav-link" })</a></li>
            }
        </ul>
    </div>


    <div id="main">
        <span style="font-size:30px;cursor:pointer" id="openButton" onclick="openNav()">&#9776;</span>
        <div class="container body-content">

            @RenderBody()
            <hr />

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/OpenModal")
    @Scripts.Render("~/bundles/LayoutScripts")
    @Scripts.Render("~/bundles/UserProjects")
    @Scripts.Render("~/bundles/Admin")
    @Scripts.Render("~/bundles/ProjectTask")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/datatables")


    @Scripts.Render("~/bundles/toastr")
</body>
</html>
