<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/lib/jquery-datatables")
    @Styles.Render("~/Content/jqueryContextMenu")
    @Styles.Render("~/Content/bootstrap-select")
    @Styles.Render("~/Content/CustomCss/layout.css")
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @*Toastr config*@

    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "iconClasses": {
                "error": "toast-error",
                "info": "toast-info",
                "success": "toast-success",
                "warning": "toast-warning"
            }
        }
    </script>
    @*End toastr config*@

</head>
<body style="background-color: #BFC0C0; ">

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" aria-labelledby="staticBackdropLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    @Html.Partial("_SideMenu")

<div id="main">
    <div class="m-5">
        <div class="body-content container p-2 rounded" style="max-width: 2000px; max-height: 2000px; background-color: lightgray;">
            @RenderBody()
        </div>
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/CustomJs")
    @RenderSection("scripts", required: false)

</body>
</html>
