<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/lib/jquery-datatables")
    @Styles.Render("~/Content/jqueryContextMenu")
    @Styles.Render("~/Content/bootstrap-select")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.12/signalr.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" aria-labelledby="staticBackdropLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    @Html.Partial("_SideMenu")

    <div id="main">
        <span style="font-size:30px;cursor:pointer" id="openButton" onclick="openNav()">&#9776;</span>
        <div class="container body-content">

            @RenderBody()
            <hr />

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/OpenModal")
    @Scripts.Render("~/bundles/LayoutScripts")
    @Scripts.Render("~/bundles/UserProjects")
    @Scripts.Render("~/bundles/Admin")
    @Scripts.Render("~/bundles/Notification")
    @Scripts.Render("~/bundles/ProjectTask")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/signalR")
</body>
</html>
