<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul>
    <li>
        <div class="d-flex align-items-center m-1">
            <div style="text-align: center; margin-right: 10px">
                <div class="avatar-container">
                    <img class="avatar avatar-lg" alt="User avatar" id="UserAvatar" />
                </div>
            </div>

            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: inherit" id="username"></a>

                <div class="dropdown-menu bg-light bg-opacity-75"  aria-labelledby="dropdownMenuButton">
                    <a href="#" class="dropdown-item text-dark text-center" id="modalConfirmButton" onclick="openModal({ url: '/Account/OpenEditUserByClientModal', data: 0 })"
                       data-toggle="ajax-modal" data-trigger="Modal">
                        Settings
                    </a>
                    <a href="#" class="dropdown-item text-dark text-center" id="modalConfirmButton" onclick="openModal({ url: '/Account/OpenChangePasswordModal', data: 0 })"
                       data-toggle="ajax-modal" data-trigger="Modal">
                        Change Password
                    </a>
                    <a href="#">@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "dropdown-item text-dark text-center" })</a>
                </div>
            </div>

            <button class="bg-transparent border-0" id="modalConfirmButton" onclick="openModal({ url: '/Notification/OpenNotificationModal', data: 0 })" data-toggle="ajax-modal" data-trigger="Modal">
                <span id="notificationCount" style="background-color: red; color: white; border-radius: 50%; padding: 5px 10px;">0</span>
            </button>
        </div>

        </li>
        </ul>
         <hr style="width:100%;text-align:left;margin-left:0; color: white;">

    <ul>
        @if (User.IsInRole("admin"))
        {
            <li><a href="#">@Html.ActionLink("Users", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</a></li>
        }
        else if (User.IsInRole("user"))
        {
            <li><a href="#">@Html.ActionLink("Projects", "Index", "Project", new { area = "" }, new { @class = "nav-link" })</a></li>
            <li><a href="#">@Html.ActionLink("Tasks", "Index", "ProjectTask", new { area = "" }, new { @class = "nav-link" })</a></li>
        }
    </ul>
</div>

@Scripts.Render("~/bundles/NotificationLayout")