@model ProjectManager.Application.DataTransferObjects.ProjectCollaborator.CollaboratorModalDataDto

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Change collaborator role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    @using (Ajax.BeginForm("EditCollaborator", "ProjectCollaborators", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "HandleCreateUpdateCollaborator"
    }, new { enctype = "multipart/form-data", id = "projectForm" }))
    {
        <div class="modal-body">

            <div class="col mb-2 d-flex justify-content-between align-items-center">
                <div class="col d-md-flex">
                    @Html.Hidden("projectId", Model.ProjectId)
                    @Html.Hidden("collaboratorUserName", Model.CollaboratorUserName) 
                    <div class="form-group row align-items-center">
                        <div class="col-md-5">
                            @Html.Label("collaboratorProjectRole", "New role:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("collaboratorProjectRole", (SelectList)ViewBag.ProjectUserRoles, new { @class = "form-select dropdown-toggle" })
                            @Html.ValidationMessage("collaboratorProjectRole", "", new { @class = "text-danger", data_valmsg_for = "RoleId" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Edit</button>
        </div>
    }
</div>


