@model ProjectManager.Application.DataTransferObjects.ProjectCollaborator.CollaboratorsResponseDto

@{
    ViewBag.Title = "UserManagement";
}

<div class="row justify-content-between">
    <div class="col col-md-7">
        @if (Model.LoggedUserRole == "ProjectAdministrator" || Model.LoggedUserRole == "ProjectCreator")
        {
            <button class="btn btn-primary mb-4" id="modalConfirmButton" onclick="openModal({url: '/ProjectCollaborators/OpenAddModal', data: @Model.ProjectId})" data-toggle="ajax-modal" data-trigger="Modal">
                Add colaborator
            </button>
        }
    </div>

    <div class="col col-md-3">
        <div class="input-group">
            @Html.TextBox("searchProject", null, new { @class = "form-control", placeholder = "Search collaborator" })
            <button type="button" onclick="GetCollaborators(1, @Model.ProjectId)" class="btn btn-secondary">Search</button>
        </div>
    </div>

    <div class="col col-md-2">
        <a href="@Url.Action("Index", "ProjectTask", new { Id = Model.ProjectId })" class="btn btn-secondary">Back</a>
    </div>

</div>

<div id="CollaboratorsTable">
    @Html.Partial("_CollaboratorsTable", Model)
</div>