@model ProjectManager.Presentation.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <style>
        body {
            background: linear-gradient(90deg, rgba(223,223,223,1) 0%, rgba(179,179,179,1) 50%, rgba(223,223,223,1) 100%);
        }
    </style>

</head>
<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="container body-content shadow p-5 bg-white rounded-2 col-3">
        <section>
            <h1>Login</h1>
        </section>
        <section class="justify-content-center mx-auto">

            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken();

            <div class="form-group">
                @Html.LabelFor(u => u.Username)
                @Html.TextBoxFor(u => u.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Username)
            </div>
                <div class="form-group mt-2">
                    @Html.LabelFor(u => u.Password)
                    @Html.TextBoxFor(u => u.Password, new {@class = "form-control", type = "password"})
                    @Html.ValidationMessageFor(u => u.Password)
                </div>

                <div class="justify-content-center d-flex">
                    <button type="submit" class="btn btn-secondary mt-3">Login</button>
                </div>
            }
        </section>
        </div>

</body>
</html>

